body{
/*  цвет записей  */
    color: #e3cda3;
/*  цвет фона дневника  */
/*  фоновое изображение  */
    background: transparent url(background.jpg);
/*  стиль шрифта  */
    font-family: Verdana, serif;
/*  размер шрифта основных текстов  */
    font-size: 70%;
}
.header, h1{
/*  цвет заголовка  */
    color: #a9998a;
/*  цвет фона заголовка  */
    background-color: transparent;
/*  размер шрифта заголовка  */
/*    font-size: 90%;*/
}
.offtop{
/*  цвет оффтопа  */
    color: #663333;
}
a{
/*  цвет ссылки  */
    color: #996633;
}
.bordered{
/*  цвет границы  */
    border-color: #333;
}
.posts_area, .menu_area, .epigraph_area{
/*  цвет фона записи  */
    background-color: #1a1511;
}
#img_epigraph{
/*  путь к картинке для эпиграфа  */
    background-image: url("epigraph.jpg");
/*  нужная высота картинки, если она не подходит  */
    height: 500px;
}
[class^="post_area_"] .avatar_area{
/*  путь к картинке для аватара  */
    background-image: url("avatar_1.jpg");
}
.post_area_2 .avatar_area{
/*  путь к картинке для аватара 2  */
    background-image: url("avatar_2.jpg");
}
.post_area_3 .avatar_area{
/*  путь к картинке для аватара 3  */
    background-image: url("avatar_3.jpg");
}
#photo_diary{
/*  путь к фото профиля  */
    background-image: url("avatar_1.jpg");
}


.epigraph_area table{
    width: 100%;
}
#epigraph iframe{
    height: 519px;
}