body{
    font: 1em/1.2 'Bookman Old Style', Georgia, 'Times New Roman', Times, serif;
    background: black url(images/fon0.jpg) scroll left top repeat;
    color: white;
}
.clear{
    clear: both;
}

#header, .wrapper{
    max-width: 1000px;
    min-width: 768px;
    margin: 0 auto;    
    padding: 5px;
}

#header h1, #header p{
    display: none;
    height: auto;
    text-align: center;
}

#header{
    background: url(images/shapka.png) no-repeat center;
    background-size: cover;
    height: 400px;
}

a{
    display: block;
    margin-bottom: -1px;
    padding: 10px 0;
    text-decoration: none;
    color: #800000;
    background-color: #DDCE89;
    border: 1px solid #800000;
    text-align: center;
}

a:hover{
    background: #CCBD77;
}

#switcher{
    color: #800000;
    background: #DDCE89 url(favicon_1.ico) no-repeat;
    text-align: right;
    width: 175px;
}

.menu{
    display: block;
    margin: 0;
    padding: 0;
    list-style: none;
    font-weight: bold;
}
/* Подменю */
.menu .sub-menu{
    list-style: none;
    font-weight: normal;
    margin: 0;
    padding: 0;
}


.wrapper{
    position: relative;
}
#content{
    width: -webkit-calc(100% - 152px * 2 - 10px);
    width: -o-calc(100% - 152px * 2 - 10px);
    width: calc(100% - 152px * 2 - 10px);
    text-align: center;
    background: #DDCE89;
    border: 1px solid #800000;
    color: #800000;
    position: absolute;
    left: calc(142px + 9px);
    padding: 5px;
}
#nav{
    display: block;
    position: relative;
}
#nav .left{
    position: absolute;
    width: 142px;
}
#nav .right{
    position: absolute;
    right: 0;
    width: 142px;
}

.menu-button{
    display: none;
}

.attention{
    height: 209px;
    background: url(//tibidox-school.ru/images/attention.png) center no-repeat;
    width: 100%;
}
.attention p{
    display: none;
}