body{
    font: 1em/1.2 'Bookman Old Style', Georgia, 'Times New Roman', Times, serif;
    background: black url(images/fon0.jpg) scroll left top repeat;
    color: white;
}
.clear{
    clear: both;
}

#header, .wrapper{
    max-width: 1000px;
    min-width: 500px;
    margin: 0 auto;    
}

#header h1, #header p{
    display: block;
    max-width: 100%;
    height: auto;
    text-align: center;
}

a{
    display: block;
    margin-bottom: -1px;
    padding: 10px 0;
    text-decoration: none;
    color: #800000;
    background-color: #DDCE89;
    border: 1px solid #800000;
    text-align: center;
}

a:hover{
    background: #CCBD77;
}

#switcher{
    color: #800000;
    background: #DDCE89 url(favicon_1.ico) no-repeat;
    text-align: right;
    width: 175px;
}

.menu{
    margin: 0;
    padding: 0;
    list-style: none;
    font-weight: bold;
}


/* Подменю */
.menu .sub-menu{
    list-style: none;
    font-weight: normal;
    margin: 0;
    padding: 0;
}


.wrapper{
    position: relative;
}
#content{
    width: -webkit-calc(100% - 153px * 2 - 12px);
    width: -o-calc(100% - 153px * 2 - 12px);
    width: calc(100% - 153px * 2 - 12px);
    text-align: center;
    background: #DDCE89;
    border: 1px solid #800000;
    color: #800000;
    position: absolute;
    left: 153px;
    padding: 5px;
}
#nav{
    position: relative;
}
#nav .left{
    position: absolute;
}
#nav .right{
    position: absolute;
    right: 0;
}

.breadcrumbs{
    margin: 5px;
    padding: 5px;
    text-align: left;
    background-color: #DDCE89;
    color: #800000;
}
.breadcrumbs li{
    display: inline-block;
}
.breadcrumbs li span{
    background-color: #CCBD77;
    border: 1px solid #800000;
    padding: 0 5px;
/*    font-size: 0.9em;*/
}
.breadcrumbs li:last-child span{
    background-color: inherit;
    border: 0;
    color: inherit;
}
.breadcrumbs li::before {
    content: '>'; /* Разделитель */
    margin-left: 5px; /* Отступ слева */
    margin-right: 5px; /* Отступ справа */
    color: inherit; /* Цвет разделителя */
    font-weight: bold;
}
.breadcrumbs li:first-child::before {
    content: ''; /* Убираем разделитель для первого пункта */
    margin: 0;
}
