body{
    font: 1em/1.2 'Bookman Old Style', Georgia, 'Times New Roman', Times, serif;
    background: black;
    color: white;
}
.clear{
    clear: both;
}

#header, .wrapper{
    margin: 0 auto;
    padding: 5px;
}
#header h1, #header p{
    display: block;
    height: auto;
    text-align: center;
/*    color: hsl(0,100%,40%);*/
/*
    text-shadow: 0 0 1px #000,
        1px -1px 5px hsl(20,100%,50%),
        2px -2px 5px hsl(20,100%,50%),
        3px -3px 5px hsl(35,100%,50%),
        4px -4px 5px hsl(35,100%,50%),
        5px -5px 5px hsl(45,100%,50%),
        6px -6px 5px hsl(45,100%,55%),
        7px -7px 5px hsl(55,100%,60%),
        8px -8px 5px hsl(55,100%,65%);
*/
}

a{
    display: block;
    margin-bottom: -1px;
    padding: 10px 0;
    text-decoration: none;
    color: #800000;
    background-color: #DDCE89;
    border: 1px solid #800000;
    text-align: center;
}

a:hover{
    background: #CCBD77;
}

#switcher{
    color: #800000;
    background: #DDCE89;
}

.menu{
    margin: 0;
    padding: 0;
    list-style: none;
    font-weight: bold;
}

.menu > li{
    position: relative;
}

/* Подменю */
.menu .sub-menu{
    list-style: none;
    font-weight: normal;
    margin: 0;
    padding: 0;
    top: 5px;
    left: 140px;
    z-index: 1;
}

/* Cелектор для подменю, если навести мышь */
/* на родительский элемент верхнего меню */
.menu > li:hover .sub-menu{
    display: block;
}


#content{
    float: right;
    text-align: center;
    background: #DDCE89;
    border: 1px solid #800000;
    color: #800000;
    padding: 5px;
}
#nav{
    display: none;
    position: absolute;
    z-index: 1;
}

.menu-button{
    margin: 5px;
    padding: 5px;
    text-align: left;
    background-color: #DDCE89;
    color: #800000;
}

.menu-button:hover ~ #nav, #nav:hover{
    display: block;
    width: 100%;
    left: 0;
}

.menu-button:hover{
    background: #CCBD77;
}

@media screen and (min-width: 600px) {
    #nav, #nav:hover{
        display: block;
        width: 142px;
        position: static;
    }
    .menu .sub-menu{
        position: absolute;
        display: none;
        width: 142px;
    }
    .menu-button{
        display: none;
    }
    #content{
        width: -webkit-calc(100% - 142px - 15px);
        width: -o-calc(100% - 142px - 15px);
        width: calc(100% - 142px - 15px);
        min-width: calc(142px * 2);
    }
    #header, .wrapper{
        max-width: 1000px;
        min-width: 480px;
    }
}

.attention{
    width: 50%;
    margin: 0 auto;
    background: #E9DD9A;
    border: 1px solid #6A4D05;
    padding: 10px;
    font-style: italic;
}
.attention p{
    margin: 0;
}
p.attention-sign{
    text-align: right;
    white-space: pre;
    margin-top: 10px;
}
