body{
    font: 1em/1.2 'Bookman Old Style', Georgia, 'Times New Roman', Times, serif;
    background: black;
    color: white;
}
.clear{
    clear: both;
}

#header, .wrapper{
    max-width: 1000px;
    min-width: 450px;
    margin: 0 auto;
    padding: 5px;
}
#header h1, #header p{
    display: block;
    height: auto;
    text-align: center;
/*    color: hsl(0,100%,40%);*/
/*
    text-shadow: 0 0 1px #000,
        1px -1px 5px hsl(20,100%,50%),
        2px -2px 5px hsl(20,100%,50%),
        3px -3px 5px hsl(35,100%,50%),
        4px -4px 5px hsl(35,100%,50%),
        5px -5px 5px hsl(45,100%,50%),
        6px -6px 5px hsl(45,100%,55%),
        7px -7px 5px hsl(55,100%,60%),
        8px -8px 5px hsl(55,100%,65%);
*/
}

a{
    display: block;
    margin-bottom: -1px;
    padding: 10px 0px;
    text-decoration: none;
    color: #800000;
    background-color: #DDCE89;
    border: 1px solid #800000;
    text-align: center;
}

a:hover{
    background: #CCBD77;
}

#switcher{
    color: #800000;
    background-color: #DDCE89;
}

.menu{
    margin: 0;
    padding: 0;
    list-style: none;
    font-weight: bold;
}

.menu > li{
    position: relative;
}

/* Подменю */
.menu .sub-menu{
    list-style: none;
    position: absolute;
    display: none;
    font-weight: normal;
    margin: 0;
    padding: 0;
    top: 5px;
    left: 140px;
    z-index: 1;
}

/* Cелектор для подменю, если навести мышь */
/* на родительский элемент верхнего меню */
.menu > li:hover .sub-menu{
    display: block;
}


#content{
    float: right;
    width: -webkit-calc(100% - 142px - 15px);
    width: -o-calc(100% - 142px - 15px);
    width: calc(100% - 142px - 15px);
    text-align: center;
    background: #DDCE89;
    border: 1px solid #800000;
    color: #800000;
}
#nav{
    width: 142px;
}

.breadcrumbs{
    margin: 5px;
    padding: 5px;
    text-align: left;
    background-color: #DDCE89;
    color: #800000;
}
.breadcrumbs li{
    display: inline-block;
}
.breadcrumbs li span{
    background-color: #CCBD77;
    border: 1px solid #800000;
    padding: 0 5px;
/*    font-size: 0.9em;*/
}
.breadcrumbs li:last-child span{
    background-color: inherit;
    border: 0;
    color: inherit;
}
.breadcrumbs li::before {
    content: '>'; /* Разделитель */
    margin-left: 5px; /* Отступ слева */
    margin-right: 5px; /* Отступ справа */
    color: inherit; /* Цвет разделителя */
    font-weight: bold;
}
.breadcrumbs li:first-child::before {
    content: ''; /* Убираем разделитель для первого пункта */
    margin: 0;
}
