body{
    background: url("images/background.jpg");    
    padding: 5px;
    margin: 5px auto;
    color: white;
    width: 435px;
}
#message_404{
    font-size: 20px;
}
.welcome{
    padding: 5px;
    margin: 70px;
    text-align: center;
    border: 1px solid black;
    border-radius: 5px;
    background-color: #666666;
}
.offtop{
    color: #333333;
}
.menu{
    padding: 0;
    margin: 0;
    list-style: none;
    background-color: #999999;
}
.menu a{
    display: block;
    margin-bottom: -1px;
    padding: 5px;
    border: 1px solid black;
    text-decoration: none;
    color: black;
}
.menu a:visited{
    color: #999999;
}
.menu a:hover{
    text-decoration: underline;
    background-color: #CCCCCC;
}
.menu .empty-link:hover{
    text-decoration: none;
    background-color: inherit;
}
.menu .sub-menu{
    padding: 0;
    margin: 0;
    background-color: #FFFFFF;
}