body{
    background: url("images/background.jpg");    
    padding: 5px;
    margin: 5px auto;
    color: white;
    width: 500px;
}
#message_404{
    font-size: 20px;
}
.welcome{
    padding: 5px;
    margin: 5px;
    text-align: center;
    border: 1px solid black;
    border-radius: 5px;
    background-color: #554D00;
}
.offtop{
    color: #AAA039;
}
}