body{
    margin: 5px auto;
    width: 800px;
    background-color: gray;
    text-align: center;
}
.menu{
    height: 50px;
    background-color: white;
}
.slider{
    height: 420px;
    background-color: purple;
}
.about{
    height: 300px;
    background-color: white;    
}
.service{
    margin-top: 50px;
    height: 300px;
    background-color: white;
}
.join{
    height: 250px;
    background-color: bisque;
}
.whatweoffer{
    height: 300px;
    background-color: white;
}
.customersreviews{
    height: 300px;
    background-color: green;
}
.counter2{
    height: 200px;
    background-color: firebrick;
}
.meetourteam{
    height: 300px;
    background-color: white;
}
.work{
    height: 500px;
    background-color: skyblue;
}
.clint{
    height: 100px;
    background-color: yellow; 
}
footer{
    margin-top: 50px;
    height: 250px;
    background-color: slategray;
}