/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-right: 15px;
  padding-left: 15px;
}

/* Custom page header */
.header {
  padding-bottom: 20px;
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  padding: 14px 24px;
  font-size: 21px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

ul, ol {
  padding: 0;
  margin: 0 0 10px 25px;
}

ul {
  display: block;
  list-style-type: disc;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 40px;
}

li {
/*    line-height: 20px;*/
  padding-bottom: 5px;
}

.templatemo_form	{  width: 100%; }
.templatemo_form input{ 
	float: left; 
	height: 34px; 
	padding: 6px 12px; 
/*	border-radius: 0px; */
/*	background: #343536; */
/*	border: 1px solid #4b5257; */
	width: 100%;  
	margin-top: 10px;
/*	color: #cccccc;*/
	}
.templatemo_form textarea{
	float: left; 
	padding: 6px 12px; 
	height: 130px;
/*	border-radius: 0px; */
/*	background: #343536; */
/*	border: 1px solid #4b5257; */
	margin-top: 10px; 
/*	color: #cccccc;*/
}
.templatemo_form button.btn-primary{
	float: left; 
	width: 100%;
	line-height: 34px;
	text-align: center;
/*	color: #ffffff;*/
/*	border-radius: 0px;*/
/*	background: #b69e40;*/
/*	border: none;*/
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 600;
	margin-top: 10px;
}

.templatemo_contacttitle	{ 
	font-size: 16px; 
/*	color: #ffffff;*/
}	

ul#contact-info {
  list-style: none;
}

ul#contact-info .glyphicon {
    font-size: 20px;
    float: left;
    line-height: 25px;
    margin-right: 10px;
}

ul#contact-info .field {
    font-weight: bold;
}