
body {
    font-family: 'Montserrat', sans-serif;
    padding-bottom: 132px;
}

p {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
}

h2, h5 {
    font-weight: bold;
}

.container {
    max-width: 710px;
}

.navbar-zippy {
    position: absolute;
    width: 100%;
    color: #ffffff;
}

.navbar-zippy .navbar-brand {
    font-size: 29px;
    font-weight: bold;
    text-transform: uppercase;
    color: #ffffff;
}

.navbar-zippy .nav-link {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 10px;
    color: #ffffff;
}

.navbar-zippy .nav-link.active,
.navbar-zippy .nav-link:hover {
    color: #ffe26d;
}

.btn-zippy {
    font-weight: bold;
    font-size: 10px;
    line-height: 7px;
    text-transform: uppercase;
    border-radius: 3px;
    color: #323232;
    background-color: #ffe26d;
    border: none;
    padding: 15px 28px;
    margin: 5px 0;
}

.btn-zippy.btn-zippy--white {
    background-color: #fefefe;
}

.btn-zippy:hover {
    color: #ffffff;
    background-color: #62497c;
}

#home {
    background: url(images/header/background.jpg) no-repeat top center;
    color: #ffffff;
    padding-top: 190px;
    height: 690px;
}

#home h2 {
    font-size: 41px;
}

#home p {
    font-size: 19px;
    margin: 40px 0;
}

#home .carousel-indicators {
    margin-bottom: 40px;
    margin-left: 0;
    justify-content: normal;
}

#home .carousel-indicators li {
    width: 7px;
    height: 7px;
    border-radius: 4px;
    background-color: #ffffff;
    border: 1px transparent solid;
}

#welcome {
    padding-top: 87px;
    color: #040405;
}

#welcome h2 {
    text-align: center;
    font-size: 44px;
    margin-bottom: 58px;
}

#welcome p {
    font-size: 29px;
}

#welcome .features {
    padding: 60px 0;
    border-bottom: 2px solid #e6e6e6;
}

#welcome .feature {
    text-align: center;
}

#welcome .feature-icon {
    margin: 0 auto 15px;
    width: 80px;
    height: 80px;
    border-radius: 40px;
    background-color: #62497c;
}

#welcome .feature h5 {
    font-size: 15px;
    line-height: 41px;
    color: #62497c;
    text-transform: uppercase;
}

#welcome .feature p {
    font-size: 13px;
    line-height: 24px;
    color: #040405;
    font-weight: normal;
    opacity: .5;
}

#projects h2 {
    padding: 60px 0;
    text-align: center;
    font-size: 44px;
    line-height: 41px;
    color: #040405;
}

#projects .container {
    max-width: 1400px;
    padding: 0;
}

#projects .project {
    background-color: #efefef;
}

#projects .project:hover {
    background-color: #ffe26d;
}

#projects .project-image {
    width: 351px;
    height: 484px;
}

#projects .project-content {
    padding: 42px;
    color: #040405;
}

#projects .project-content h5 {
    font-size: 15px;
    line-height: 41px;
    text-transform: uppercase;
}

#projects .project-content p {
    font-size: 13px;
    line-height: 24px;
    font-weight: normal;
    opacity: .5;
}

#pricing {
    padding-top: 42px;
    text-align: center;
    font-size: 15px;
    line-height: 7px;
    color: #040405;
}

#pricing .price-with-separators {
    border-left: 2px solid #e6e6e6;
    border-right: 2px solid #e6e6e6;
}

#pricing h2 {
    padding: 60px 0;
    font-size: 44px;
    line-height: 41px;
    color: #040405;
}

#pricing h5 {
    margin-bottom: 20px;
}

#pricing p {
    font-weight: normal;
    opacity: .39;
}

#pricing ul {
    list-style: none;
    padding: 0;
    margin-bottom: 10px;
    font-size: 10px;
    line-height: 22px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

#pricing .btn-zippy {
    padding-top: 10px;
    padding-bottom: 10px;
}
