
body {
    color: #040405;
    font-family: 'Montserrat', sans-serif;
    padding-bottom: 132px;
}

p {
    font-family: 'Roboto', sans-serif;
}

h2, h5 {
    text-align: center;
    font-weight: bold;
}

.container {
    max-width: 710px;
}

.navbar-zippy {
    position: absolute;
    width: 100%;
    color: #ffffff;
}

.navbar-zippy .navbar-brand {
    font-size: 29px;
    font-weight: bold;
    text-transform: uppercase;
    color: #ffffff;
}

.navbar-zippy .nav-link {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 10px;
    color: #ffffff;
}

.navbar-zippy .nav-link.active,
.navbar-zippy .nav-link:hover {
    color: #ffe26d;
}

.btn-zippy {
    font-weight: bold;
    font-size: 10px;
    line-height: 7px;
    text-transform: uppercase;
    border-radius: 3px;
    color: #323232;
    background-color: #ffe26d;
    border: none;
    padding: 15px 28px;
    margin: 5px 0;
}

.btn-zippy.btn-zippy--white {
    background-color: #fefefe;
}

.btn-zippy:hover {
    color: #ffffff;
    background-color: #62497c;
}

#home {
    background: url('images/header/background.jpg') no-repeat top center;
    color: #ffffff;
    padding-top: 190px;
    height: 690px;
}

#home h2 {
    text-align: left;
    font-size: 41px;
}

#home p {
    font-size: 19px;
    margin: 40px 0;
    font-weight: 100;
}

#home .carousel-indicators {
    margin-bottom: 40px;
    margin-left: 0;
    justify-content: normal;
}

#home .carousel-indicators li {
    width: 7px;
    height: 7px;
    border-radius: 4px;
    background-color: #ffffff;
    border: 1px transparent solid;
}

#welcome {
    padding-top: 87px;
}

#welcome h2 {
    font-size: 44px;
    margin-bottom: 58px;
}

#welcome .welcome-text {
    font-size: 29px;
    font-weight: 100;
}

#welcome .features {
    padding: 60px 0;
    border-bottom: 2px solid #e6e6e6;
}

#welcome .feature {
    text-align: center;
}

#welcome .feature-icon {
    margin: 0 auto 15px;
    width: 80px;
    height: 80px;
    border-radius: 40px;
    background-color: #62497c;
}

#welcome .feature h5 {
    font-size: 15px;
    line-height: 41px;
    color: #62497c;
    text-transform: uppercase;
}

#welcome .feature p {
    font-size: 13px;
    line-height: 24px;
    opacity: .5;
}

#projects h2 {
    padding: 60px 0;
    font-size: 44px;
    line-height: 41px;
}

#projects .container {
    max-width: 1400px;
    padding: 0;
}

#projects .project {
    background-color: #efefef;
    overflow: hidden;
}

#projects .project:hover {
    background-color: #ffe26d;
}

#projects .project-image {
    width: 351px;
    height: 484px;
}

#projects .project-content {
    padding: 42px;
}

#projects .project-content h5 {
    text-align: left;
    font-size: 15px;
    line-height: 41px;
    text-transform: uppercase;
}

#projects .project-content p {
    font-size: 13px;
    line-height: 24px;
    opacity: .5;
}

#pricing {
    padding-top: 42px;
    text-align: center;
    font-size: 15px;
    line-height: 7px;
}

#pricing .price-with-separators {
    border-left: 2px solid #e6e6e6;
    border-right: 2px solid #e6e6e6;
}

#pricing h2 {
    padding: 60px 0;
    font-size: 44px;
    line-height: 41px;
}

#pricing h5 {
    margin-bottom: 20px;
}

#pricing p {
    opacity: .5;
}

#pricing ul {
    list-style: none;
    padding: 0;
    margin-bottom: 10px;
    font-size: 10px;
    line-height: 22px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

#pricing .btn-zippy {
    padding-top: 10px;
    padding-bottom: 10px;
}

#video-projects {
    padding: 90px 0;
    color: #fefefe;
}

#video-projects .container {
    max-width: 1400px;
    padding: 50px 0;
    background-color: #62497c;
}

#video-projects h2 {
    margin-bottom: 50px;
}

#video-projects .gallery {
    display: flex;
    justify-content: center;
    overflow: hidden;
    /* todo: позже ещё подумать как быть с анимацией, а пока пусть так */
}

#video-projects .gallery-item {
    margin: 0 19px;
    font-weight: 700;
    transition: 1s;
}

#video-projects .gallery-item:first-of-type.active,
#video-projects .gallery-item:first-of-type:hover {
    /*fixme: при другом размере окна получается не по центру*/
    margin-left: 117%;
}

#video-projects .gallery-item:last-of-type.active,
#video-projects .gallery-item:last-of-type:hover {
    padding-right: 114%;
}

#video-projects .video-text {
    margin-top: 24px;
}

#video-projects .gallery-item,
#video-projects .video-title {
    font-size: 10px;
    line-height: 7px;
}

#video-projects .video-image {
    position: relative;
}

#video-projects .video-play {
    position: absolute;
    top: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .20);
}

#video-projects .video-play .btn-play {
    width: 120px;
    height: 120px;
    padding: 0;
    border: none;
    border-radius: 60px;
    background: url('images/video-projects/play.png') center no-repeat;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

#video-projects .video-image:hover .video-play {
    background: rgba(0, 0, 0, .60);
}

#team {
    text-align: center;
}

#team h2 {
    margin-bottom: 40px;
    font-size: 44px;
    line-height: 41px;
}

#team .team-photo {
    position: relative;
}

#team .team-photo,
#team .team-photo > img,
#team .team-links {
    width: 172px;
    height: 172px;
    margin: 0 auto;
    border-radius: 86px;
}

#team .team-links {
    display: none;
    position: absolute;
    padding: 15px;
    top: 0;
    background-color: rgba(98, 73, 124, .7);
}

#team .team-photo:hover .team-links {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#team h5 {
    text-transform: uppercase;
    margin-top: 30px;
    font-size: 15px;
    line-height: 7px;
}

#team p {
    margin-top: 20px;
    margin-bottom: 60px;
    font-size: 15px;
    line-height: 7px;
    opacity: .5;
}

#life .container {
    max-width: 1400px;
    padding: 50px 0;
    background-color: #efefef;
}

#life h2 {
    margin-bottom: 35px;
    font-size: 44px;
    line-height: 41px;
}

#life .carousel {
    width: 694px;
    margin: 0 auto;
}

#life .carousel-indicators {
    position: relative;
    margin: 0;
}

#life .carousel-indicators li {
    width: 111px;
    height: 69px;
    text-indent: unset;
    margin: 0 6px;
}

#life a[class^='carousel-control-'] {
    position: relative;
    margin: 10px 0;
    width: 29px;
    height: 68px;
    background-color: #2a2a2a;
    opacity: 1;
}

#life a[class^='carousel-control-']:hover {
    background-color: #62497c;
}

#life span[class^='carousel-control-'] {
    width: 13px;
}
